body{
    background-color:rgb(204, 199, 199);
    text-align: center; 

}

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    
}
.nav {
    background-color: rgb(0, 128, 78);
    padding: 35px;
    text-decoration: rgb(255, 255, 255);
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nav1{
    position: fixed;
}
.nav__logo{
    height: 60px;

}
.nav__link{
    color: white;
    padding: 5px;
    padding-left: 10px;
    text-decoration: none;
}
.baner__img1{
  width: 100%;
  display: no-repeat;
}

h2{
  text-align: center;
  font-size: 1.5cm;
  padding-bottom: 10px;
  color: rgb(0, 128, 78);
}
h1{
  font-size: 20px;
}

.info__letra h1{
  text-align:justify;
  height: 250px;
  width: 40%;
  border-radius: 7px;
  overflow: hidden;
  display: flex;

}

.info_img{
  display: block;
    margin: 0px auto;
}
    
.infoad_conte:hover{
  background-color: rgb(238, 232, 232);
  color: rgb(0, 0, 0);
  padding-bottom: 10vh;
 
}

.infoad_texto{
  color: rgb(9, 10, 10);
  font-size: 2rem;
  padding: 3%;
}

.infoad__lista{

  list-style: none;
  text-align:center;
  height: 300px;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  font-size: 20px;

}
.conte2__lista{

  list-style: none;
  text-align:center;
  height: 300px;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  font-size: 20px;

}
.info2__letra h1{
  text-align:justify;
  height: 300px;
  width: 40%;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  font-size: 20px;

}


  @media only screen and (min-width: 960px) {
    .baner__img1--2 {
      display: none !important;
     }
    }